// @import '../src/media.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rokkitt:wght@400;700&display=swap');

// Vars
$color: #6fc9bf;

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rokkitt', serif;
}
img{
    max-width: 100%;
    height: auto;
}
::-webkit-scrollbar {
    width: 0.4rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

// #HEADER
.header{
    background-image: url(https://images.unsplash.com/photo-1543339308-43e59d6b73a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 4rem;

    .layer{
        background-color: rgba($color: #000000, $alpha: 0.5);
    
        .logo-wrapper{
            padding-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        
            .logo{
                cursor: pointer;
                border: 5px solid #fff;
                padding: .9rem;
                border-radius: 100%;
                width: 4rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .brand{
                    font-size: 2rem;
                    color: #fff;
                }
            }
        
        }
        .header-text{
            padding: 7rem;
            padding-bottom: 8rem;
            text-align: center;
            h1{
                color: #fff;
                margin-bottom: 1rem;
                font-size: 3rem;
            }
            p{
                font-size: 1.5rem;
                color: #fff;
            }
        }
    }
}

.recipeHeading{
    font-size: 3rem;
    color: $color;
    margin-bottom: 4.5rem;
    text-align: center;
}

.tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .tablist{
        position: relative;
        width: 8.9rem;
        cursor: pointer;
        gap: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        svg{
            font-size: 3rem;
        }
        span{
            font-size: 1.2rem;
        }
        &.active{
            background-color: $color;
            svg,span{
                color: #fff;
            }
            &::after{
                position: absolute;
                content: "";
                border-top: 20px solid $color;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                bottom: -20px;
            }
        }
        &:hover{
            background-color: $color;
        }
    }
}

.recipe_banner{
    background-color: #29336b;
    padding: 60px 40px;
    color: #fff;
    display: flex;
    margin-bottom:5rem ;
    .left-col{
        flex: 1;
        .badge{
            font-size: 1rem;
            background-color: $color;
            padding: .5rem;
            border-radius: 4px;
            margin-bottom: .6rem;
            display: inline-block;
        }
        h1{
            font-size: 3rem;
            margin-bottom: .7rem;
        }
        p{
            font-size: 1.1rem;
            margin-bottom: .8rem;
            strong{
                margin-right: 5px;
            }
        }
        h3{
            font-size: 2rem;
            margin-bottom: 1.2rem;
        }
        .ingredients{
            display: flex;
            gap: 1rem;
            ul{
                padding: 0;
                display: flex;
                gap: 1rem;
                flex-flow: wrap;
                justify-content: flex-start;
                align-items: center;
                li{
                    font-size: 1.05rem;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    gap: .3rem;
                    svg{
                        font-size: 1.1rem;
                    }
                    span{
                        width: calc(100% - 20px);
                    }
                }
            }
        }
    }
    .right-col{
        flex: 1;
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .image-wrapper{
            width: 350px;
            height: 350px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
                pointer-events: none;
                user-select: none;
            }
        }
    }
}

.heading-line{
    font-size: 3rem;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 3.4rem;
    .input-wrapper{
        display: flex;
        width: 100%;
        max-width: 1000px;
        padding: 1.2rem;
        justify-content: center;
        margin: 0 auto;
        &.active{
            input,button{
                outline: 2px solid $color;
            }
        }
        input{
            flex: 1;
            font-size: 1.2rem;
            padding: 5px 1rem;
            height: 45px;
            outline: transparent;
            border: 2px solid $color;
            border-radius: .5rem 0 0 .5rem;
        }
        button{
            flex: 0 0 50px;
            cursor: pointer;
            background-color: $color;
            outline: none;
            border: none;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            font-size: 1.1rem;
            font-weight: bold;
            &:hover{
                background-color: darken($color, 10%);
            }
        }
    }
}

.flexbox{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
    margin-bottom: 3rem;
    .flexItem{
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        min-width: 200px;
        max-width: 350px;
        width: 100%;
        .image-wrapper{
            margin-bottom: .5rem;
        }
        p{
            color: #29336b;
            padding: 0 1rem;
            font-weight: bold;
        }
    }
}